@model ContactlessLoyalty.Data.Card
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AccountContactlessLoyaltyUser> SignInManager
@inject UserManager<AccountContactlessLoyaltyUser> UserManager

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<body class="body-content">
    <h3>Welcome to a <br />Premium Loyalty Experience!</h3>
    <hr />

    <div>
        <input class="btn btn-default btn-shadow" type="button" value="Create New Loyalty Card" onclick="location.href='@Url.Action("CreateCard", "Card", this.Model)'" />
    </div>
    <br />
    <ul>
        <li>
            To fully use Contactless Loyalty you need to be visiting this page with Google Chrome on a NFC enabled device.
        </li>
        <li>
            If you are visiting this page before the <b>29th July 2020</b> you are ready to go!
        </li>
    </ul>
    <p> Otherwise you may try the following to enable the NFC features:
        <ol>
            <li>
                Go to <a> chrome://flags</a> (Please copy the link and open it on a new page)
            </li>
            <li>
                Enable <b>Experimental Web Platform features</b>
            </li>
            <li>
                Your browser will ask you to restart, please proceed.
            </li>
            <li>
                You are good to go! <br />(Just allow us to scan later on)
            </li>
        </ol>
    <p>N.B. You may need to log out and log in again after doing the procedure above.</p>
    </p>

    <div>
        <input type="button" class="btn btn-default btn-shadow" value="See your Loyalty Card" onclick="location.href='@Url.Action("Index", "Card")'" />
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}