@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="body-content">
    <h3>No loyalty card found</h3>
    <p>It seems that there is no loyalty card with this account</p>
    <div>
        <input type="button" class="btn btn-default btn-shadow" value="Go to get a new Loyalty Card" onclick="location.href='@Url.Action("Create", "Card")'" />
    </div>
</div>