@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="body-content">
    <h3>No Loyalty Card Found</h3>
    <p>It seems that there is no Loyalty Card with this account</p>
    <div>
        <input type="button" class="btn btn-default btn-shadow buttonTopMargin" value="Go to get a New Loyalty Card" onclick="location.href='@Url.Action("Create", "Card")'" />
    </div>
</div>