@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="body-content">
    <h3>No loyalty card found</h3>
    <p>It seems that there is no loyalty card with this account</p>
    <p>
        <a asp-action="Create">Go to get a new loyalty card</a>
    </p>
</div>