@model ContactlessLoyalty.Data.Card

@{
    ViewData["Title"] = "Delete";
    Layout = "/Views/Shared/_Layout.cshtml";
}
    <div class="body-content">
        <h3>Cannot create new card</h3>
        <p>It seems that you already have a card</p>
        <div>
            <input type="button" class="btn btn-default btn-shadow" value="Go to existing Loyalty Card" onclick="location.href='@Url.Action("Index", "Card")'" />
        </div>
    </div>