@model ContactlessLoyalty.Data.Card

@{
    ViewData["Title"] = "Delete";
    Layout = "/Views/Shared/_Layout.cshtml";
}
    <div class="body-content">
        <h3>Cannot create new card</h3>
        <p>It seems that you already have a card</p>
        <p>
            <a asp-action="Index" asp-controller="Card">Go to existing Loyalty Card</a>
        </p>
    </div>