@{
    ViewData["Title"] = "About";
}
<div class="body-content">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <p>This is the Final Year Project made by Shouyi Cui.</p>
</div>
