@{
    ViewData["Title"] = "Contact";
}

<div class="body-content">
    <h3>@ViewData["Message"]</h3>
    <address>
        Thank you for visiting this page and please feel free to contact me by email for further information.<br />
        @*<a href="tel:+447708053895">T: +44 7708053895</a>TOENABLE*@
    </address>

    <address>
        <strong>Personal Email:</strong> <a href="mailto:neobluenavy@gmail.com">neobluenavy@gmail.com</a>
    </address>
</div>
