@{
    ViewData["Title"] = "Contact";
}

<div class="body-content">
    <h3>@ViewData["Message"]</h3>
    <address>
        Wembley, London<br />
        <abbr title="Phone">P:+44 770 805 3895</abbr>
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:fortuntato96@gmail.com">fortuntato96@gmail.com</a><br />
        <strong>University Email:</strong> <a href="mailto:w1618594@gmail.com">w1618594@gmail.com</a>
    </address>
</div>
